opencv_videoio_ffmpeg4110_64.dll
libopencv_videoio4110.dll
libopencv_video4110.dll
libopencv_photo4110.dll
libopencv_calib3d4110.dll
libopencv_core4110.dll
libopencv_dnn4110.dll
libopencv_features2d4110.dll
libopencv_flann4110.dll
libopencv_gapi4110.dll
libopencv_stitching4110.dll
libopencv_objdetect4110.dll
libopencv_highgui4110.dll
libopencv_imgcodecs4110.dll
libopencv_imgproc4110.dll
libopencv_ml4110.dll
main.exe
botanicare.py
main.cpp

